body{
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url("https://images.unsplash.com/photo-1551149248-3386a530fc23?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTExfHx8ZW58MHx8fHx8");
background-size: cover;
background-position: center 10%;
text-align: center;
font-weight: bold;
}
h1{
    color:goldenrod;
}
#message-el{
font-style: italic;
}
p{
    color: aqua;
}
.btn{

    color:#016f32;
    width: 150px;
    background: goldenrod;
    padding: 6px;
    border:none;
    border-radius: 3px;
   
    margin-bottom: 20px;
}
.btns{
        color:#016f32;
    width: 150px;
    background: goldenrod;
    padding: 6px;
    border:none;
    border-radius: 3px;
   
    font-weight: bold;
}
.btn:hover{
 box-shadow: 2px 2px 2px aqua ;
}
.btns:hover{
 box-shadow: 2px 2px 2px aqua ;
}
