body{
    margin: 20px;
}
.pic{
width: 100px;
height: 100px;
margin-top: 25px;
border-radius: 50%;
object-fit: cover;
border:2px solid rgb(66, 101, 101);

}
.card{
    border-radius: 6px;
      border: 1px solid #ddebf8;
 width: 400px;
 margin-left: auto;
 margin-right: auto;
    padding: 20px;
    display: flex;
    /*
    justify-content: space-around;
    text-align: center;
    */
    background: #ddebf8;
    color: #2b2839;
    border-bottom:25px solid #200e68;


}

.blueborder{
       border: 1px dotted rgb(5, 123, 70);
}
.card h3,
.card h4,
.card p {
    margin: 10px;
    font-family: monospace ;
}
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    /*
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
    */
    Box-shadow: 10px 10px 10px black;
}

