body{
    margin: 20px;
}
.pic{
width: 100px;
height: 100px;
margin-top: 25px;
border-radius: 50%;
object-fit: cover;

}
.card{
    border-radius: 6px;
      border: 1px solid #ddebf8;
 width: 400px;
 margin-left: auto;
 margin-right: auto;
    padding: 20px;
    display: flex;
    /*
    justify-content: space-around;
    text-align: center;
    */
    background: #ddebf8;
    color: #2b2839;
    border-bottom:10px solid #d8cefe;


}

.blueborder{
       border: 1px dotted blue;
}
.card h3,
.card h4,
.card p {
    margin: 10px;
    font-family: monospace;
}
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

