.db{
    display: flex;
    justify-content: space-around;
}
.span{
    display: flex;
    justify-content: space-around;
 
   
}
.first{
    text-align: center;
    width: 100px;
    background-color: antiquewhite;
    margin-bottom: 30px;
     font-family:'Share Tech Mono', monospace;
     
 
}
.second{
        text-align: center;
    width: 100px;
    background-color: antiquewhite;
    margin-bottom: 30px;
      font-family:'Share Tech Mono', monospace;
}
.btn{
        display: flex;
    justify-content: space-around;
}
h1{
    font-family:'Share Tech Mono', monospace;
}
body{
    background-image: url("https://plus.unsplash.com/premium_photo-1676422355051-c8d2db207461?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2FsY3VsYXRvciUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center 50%;
}