.span{
    text-align: center;
     
}
.btn{
    margin: 10px;
    display: flex;

    justify-content: space-around;

}
#add{
    margin-bottom: 10px;
}
#sub{
    width:85px ;
      margin-bottom: 10px;
    
}
#div{
      margin-bottom: 10px;
}
#mul{
    width: 80px;
margin-left: auto;
margin-right: auto;
display: block;

}
.s{
    text-align: center;
}
