body{
    background-image: url("https://images.unsplash.com/photo-1629661414961-62b0d03007ab?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmFjaW5nJTIwY2FyfGVufDB8fDB8fHww");
    background-size: cover;
    background-position: center 30%;
}
.element{
    margin-top: 50px;
    text-align: center;
    color: rgb(7, 209, 244);

}
#increment-btn{
    border: 2px solid rgb(7, 209, 244) ;
    border-radius: 3px;
    background: rgb(7, 209, 244);
    color: rgb(73, 12, 171);
     display: block; /* Makes buttons appear one below the other */
    margin: 10px auto;
    
 
 
}
#increment-btn:hover{
    background: rgb(241, 6, 6);
}

#save{
    border: 2px solid rgb(7, 209, 244) ;
    border-radius: 3px;
    background: rgb(7, 209, 244);
    color: rgb(73, 12, 171);
    width: 90px;
 
 
}
#save:hover{
    background: rgb(241, 6, 6);
}
#p{
    color: rgb(14, 2, 2);
    
}