.text{
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    width: 300px;
    background: rgb(175, 172, 172);
    padding: 20px;
    border: 5px solid red;
   border-radius: 20px;
}
.tex{
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    background: rgb(175, 172, 172);
    padding: 20px;
    border: 5px dotted red;
}