.main{

}
input{
    margin: auto;
    display: block;
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(142, 131, 131);
    padding-left: 10px;
    border-radius: 15px;
}
.pic{
margin-bottom: 10px;

margin: auto;
    display: block;
    width: 400px;
  
}
but{
    display: flex;
    justify-content: center;
}
.b1{

    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(159, 149, 149);
    border-radius: 10px;
    padding-left: 10px;
    padding: 5px;
    
    background: rgb(207, 207, 207)
}
.b2{
    margin-top: 100px;
    margin: auto;
    border: 2px solid rgb(159, 149, 149);
      border-radius: 10px;
      padding: 5px;
         background: rgb(207, 207, 207)
}
