body{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.btn{
   background: #5f9341;
   color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;

}
.sbtn{
       background: #5f9341;
   color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}
.btnd{
       background:white;
   color:  #5f9341;
  font-weight: bold;
  border: 2px solid  #5f9341;
  padding: 10px 20px;
}

.btnd:hover{
      box-shadow: 10px 10px 10px rgb(216, 205, 205);
}
.sbtn:hover{
     box-shadow: 10px 10px 10px rgb(216, 205, 205);
}

.btn:hover{
    box-shadow: 10px 10px 10px rgb(216, 205, 205);
}
#input-el{
    width: 100%;
    padding: 10px;

    box-sizing: content-box;
    border: 1px solid #5f9341 ;
    margin-bottom: 4px;
}
ul{
    margin-top: 20px;
list-style: none;
padding: 0;
}
li{

margin-top: 5px;
}
li a{
color: #5f9341;
}