body{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
   background: #5f9341;
   color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;

}
.btn:hover{
    box-shadow: 10px 10px 10px rgb(216, 205, 205);
}
#input-el{
    width: 100%;
    padding: 10px;

    box-sizing: content-box;
    border: 1px solid #5f9341 ;
    margin-bottom: 4px;
}